﻿@{
    ViewBag.Title = "Taxi Admin";
    ViewBag.InitModule = "app";
}
@section scripts
{
    <script src="~/js/car-stats-service.js"></script>
    <script src="~/js/home-index.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Общая статистика</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div data-ng-view=""></div>
