﻿<div>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="progress-bar" style="width: 100%;">Loading...</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-dashboard fa-fw"></i><b>Общая статистика</b>
                </div>
                <!-- /.panel-heading -->
                <div id="car-dist-panel" class="panel-body table-responsive">
                    <div class="car-week row" data-ng-repeat="car in carsData">
                        <div class="col-xs-1">
                            <h1>{{ car.number }}</h1>
                        </div>
                        <div class="col-xs-8">
                            <barchart class="week-chart" style="position: relative;" xkey="xkey" ykeys="ykeys" labels="labels" data="car.graphData"></barchart>
                        </div>

                        <div class="col-xs-3">
                            <div class="col-lg-6"><i>Пробег за месяц: </i></div>
                            <div class="week-total col-lg-6">{{ car.weekTotal }} km</div>
                            <div class="tech-service">
                                <div class="col-lg-12">
                                    <h4>Последнее ТО</h4>
                                </div>
                                <div>
                                    <div class="col-lg-12">{{ car.lastService.date | date:"longDate" }} ({{ car.lastService.passedDays }} дней назад)</div>
                                    <div class="col-lg-12" style="margin-bottom: 2px"><i>Пройдено:</i> <b ng-style="{'color': 'white', 'padding': '2px', 'background-color': (car.lastService.passedDist > 14000) ? 'red' : (car.lastService.passedDist > 9000) ? 'orange' : 'green'}">{{ car.lastService.passedDist }} km</b></div>
                                    <div class="col-lg-12">
                                        <a data-ng-href="#/techService/{{ car.number }}" class="btn btn-default">Редактировать ТО</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>
