﻿<div>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="progress-bar" style="width: 100%;">Loading...</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i><b>Пробег</b>
                    <div class="pull-right">
                        <select id="period-combo" class="selectpicker" data-ng-model="selectedPeriodOption" data-ng-change="periodUpdate()">
                            <option data-ng-repeat="option in periodOptions" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div id="car-dist-panel" class="panel-body table-responsive">
                    <div class="car-week row" data-ng-repeat="car in carsData">
                        <div class="col-xs-1">
                            <h1>{{ car.number }}</h1>
                        </div>
                        <div class="col-xs-9">
                            <barchart class="week-chart" style="position: relative;" xkey="xkey" ykeys="ykeys" labels="labels" data="car.graphData"></barchart>
                        </div>

                        <div class="col-xs-2">
                            <div class="week-total">Всего: {{ car.weekTotal }} km</div>
                        </div>

                    </div>

                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>