﻿<div class="progress progress-striped active" data-ng-show="isBusy">
    <div class="progress-bar" style="width: 100%;">Loading...</div>
</div>
<a href="#/" class="btn btn-default">Назад</a>
<div class="row">
    <div class="col-lg-12">
        <h3>{{ car }}</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <caption>Техническое обслуживание</caption>
                    <tr>
                        <th>Дата</th>
                        <th>ТО</th>
                        <th>Комментарий</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="techService in techServices">
                        <td class="col-md-2">{{ techService.date }}</td>
                        <td class="col-md-1"><span class="glyphicon glyphicon-asterisk" data-ng-if="!techService.isNotRegular"></span></td>
                        <td class="col-md-8 concat">{{ techService.comment }}</td>
                        <td class="col-md-1"><a class="btn btn-danger" data-ng-click="removeTechService(techService)">Удалить</a></td>
                    </tr>
                </table>

                <div class="replies span12">
                    <div class="reply" data-ng-repeat="r in topic.replies">
                        <div class="date pull-right">
                            {{ r.created | date:"medium" }}
                        </div>
                        <div class="content">
                            {{ r.content }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Новая запись</h4>
                    <form name="newTechServiceForm" novalidate data-ng-submit="addTechService()">
                        <fieldset>
                            <div class="form-group">
                                <label for="date">Дата</label>
                                <div class="input-group date" id="datetimepicker">
                                    <input type="text" name="date" class="form-control" data-ng-model="newTechServiceDate" data-date-time-picker="" required="" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="newTechService.isNotRegular">Без ТО (не сбрасывать пробег)</label>
                            </div>
                            <div class="form-group">
                                <label for="body">Комментарий</label>
                                <textarea name="body" rows="3" cols="50" data-ng-model="newTechService.comment" class="form-control" />
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Сохранить" data-ng-disabled="newTechServiceForm.$invalid" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
